#section1{
    /* border: 2px solid red; */
    height: 81vh;
    background-image:url("./images/bubbles-dktp.svg"),linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#section1 svg{
    width: 286px;
    height: 573px;
    position: absolute;
    left: 270px;
    top: 180px;
}
#section1 img{
    width: 267px;
    height: 440px;
    position: absolute;
    top: 240px;
    left: 280px;
}
#section1 span h1{
    /* border: 2px solid green; */
    font-size: 64px;
    color: #fff;
    position: absolute;
    top: 36vh;
    left: 47%;
}
#section1 span button{
    background-color: white;
    color:black;
    font-size: 17px;
    font-weight: 550;
    padding: 15px 25px;
    position: absolute;
    top: 60vh;
    left:47% ;
    border: none;
    border-radius: 2.5em;
    cursor: pointer;
}
#section1 span button:hover{
    padding: 15px 27px;
}
#section2 {
    /* border: 2px solid red; */
    height: 80vh;
}
#section2 div h1{
    /* border: 2px solid; */
    padding-left: 41%;
    padding-top: 92px;
    padding-bottom: 48px;
    font-size: 40px;
    line-height: 46px;
}
#out-side{
    /* border: 2px solid green; */
    height: inherit;
}
#in-side{
    /* border: 2px solid yellow; */
    width: 72%;
    height: inherit;
    margin: auto;
}
#in-side ul{
    /* border: 2px solid pink; */
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
#in-side ul li{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#in-side ul li img{
    height:142px;
    width: 142px;
}
#in-side ul li p{
    font-size: 16px;
    text-align: center;
}
#section3{
    /* border: 2px solid red; */
    height: 67vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
}
#section3 h1{
    font-size: 48px;
    font-weight: 900;
    color: #fff;
}
#section4{ 
    border: 2px solid;
    height: 79.1vh;
}
#sec-div{
    /* border: 2px solid; */
    height: inherit;
    width: 75%;
    margin: auto;
}
/* #sec-div {
    border: 2px solid;
} */
#div1{
    height: 26vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec-div div h2{
    /* border: 2px solid; */
    font-size: 36px;
    /* height: 26vh; */
}
#sec-div div ul{
    /* border:2px solid red; */
    height: 100vh;
}
#sec-div div ul>li{
    /* border: 2px solid green; */
    border: 2px snow;
    list-style: none;
    height: 97px;
    padding: 38px 26px;
    font-weight: bold;
    cursor: pointer;
}
/* #sec-div div ul>li::marker{
    list-type: "â‹";
} */
#sec-div ul li div{
    /* border: 2px solid yellow; */
    margin-left: 20px;
}
#sec-div ul>li:hover{
    background-color: rgb(252, 249, 244);
    text-decoration: underline;
}
#section5{
    /* border: 2px solid; */
    height: 61vh;
    background-image:url("./images/bubbles-dktp.svg"),linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)) ;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section5 h1{
    /* border: 2px solid; */
    font-size: 80px;
    color: #fff;
}
#section5 button{
    border: none;
    background-color: white;
    color:black;
    font-size: 17px;
    font-weight: 550;
    border-radius: 2.5em;
    margin-top: 27px;
    padding: 15px 25px;
    cursor: pointer;
}
#section5 button:hover{
    padding: 15px 27px;
}
